*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --navbar-height: 59px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid red;

}
#logo{
    margin: 5px;
}
#logo img{
    margin: 10px;
    width: 70px;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 0px 15px;
    border-radius: 20px;
    color: white;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}
#home{
    display: flex;
    flex-direction: column;

    padding: 14px 146px;
    height: 490px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content : "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(imagebg.jpg) no-repeat center center/cover;
    height: 98%;
    width: 100%;
    z-index:-1;
    opacity: 0.6;
}
#home h1{
    color:rgb(53, 102, 161);
    text-align:center;
    font-family: 'Balsamiq Sans', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Balsamiq Sans', cursive;
}
#services{
    margin: 19px;
    display: flex;
    margin-top: 0px;
}
#services .box{
    border: 2px solid red;
    padding: 34px;
    
    margin: 6px 23px;
    border-radius: 20px;
    background-color: #f1eed3;
}
#services .box img{
    height: 180px;
    display: block;
    margin: auto;
}
.h-primary{
    font-size: 3.8rem;
    padding: 13px;
}
.h-secondary{
    font-size: 2.0rem;
    font-family: 'Balsamiq Sans', cursive;
    padding: 3px;
}

.btn {
    padding: 11px 23px;
    border: 2px solid white;
    background-color: #483c3c;
    color: white;
    border-radius: 12px;
    margin: 25px;
    cursor: pointer;
    font-size: large;
    position: relative;
    top: 14px;

}
.btn:hover{
    background-color: rgb(81, 106, 205);
    color: rgb(161, 163, 74);
}
.center{
    text-align: center;
}
#client-section{
    height: 259px;

}
#client-section::before{
    content:"";
    position: absolute;
    height: 44%;
    width: 100%;
    background: url(loda1.jpg) no-repeat center center/cover;
    z-index:-1;
    opacity: 0.7;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clients #client-item img{
    
    height: 89px;

    padding: 8px 33px;
}
#clients #client-item{
    width: 384px;
}
#contact{
    position: relative;
    margin-top: 20px;
    margin-bottom: 0px;
}
#contact::before{
    content: "";
    position: absolute;
    width : 100%;
    height: 117%;
    z-index: -1;
    opacity: 0.7;
    background: url(loda3.jpg) no-repeat center center/cover; 
}
footer{
    background-color: black;
    color: white;
    padding: 9px 3px;
    font-family: 'Balsamiq Sans';
    font-size: 1.20rem;
    display:block;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
}
#home,
#client-section,
#contact,
footer{
    max-width: 100vw;
    overflow: hidden;
}
.h-primary center{
    padding-bottom: 0px;
    padding-top: 47px;
}